body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Overall Layout */

main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas:
        "sideNav upperNav upperNav"
        "sideNav upperNav upperNav"
        "sideNav projectPanel sidePanel"
        "sideNav projectPanel sidePanel"
        "sideNav projectPanel sidePanel"
}

/* Navigation Styles */
/* Upper Nav bars */
.upperNav {
    grid-area: upperNav;
    display: flex;
    flex-direction: column; 
}

.upperNav > * {
    padding-left: 40px;
}

.upperNav * {
    display: flex;
    justify-content: space-between;
}

#lowerTopNav { 
    box-shadow: 0px 2px 2px rgba(0,0,0,.25);
}

#search {
    width: 40%;
    height: 30px;
    margin-top: 20px;
    background-color: lightgrey;
    border-radius: 50px;
    border: none;
}

/* Side Nav Bar */
.sideNav {
    grid-area: sideNav;
    height: 100vh;
    background-color: olivedrab;
}

#dashlogo p {
    display: inline-block;
}

/* Project Panel Styles */
.projectPanel {
    grid-area: projectPanel;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(3, 30%);
}



/* Side Panel Styles */

.sidePanel {
    grid-area: sidePanel;
}